<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html>
    <head>
        <meta charset="utf-8">
        <title>News 487</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="shortcut icon" href="/icons/16.png" type="image/png">
        <link rel="icon" href="/icons/16.png" type="image/png">

        <meta name="theme-color" content="#90a4ae">
        <link rel="manifest" href="/manifest.json">

        <meta http-equiv="Content-Security-Policy" content="${
            require('../config/csp.txt')
                .replace(/\n+/g, ' ')
                .replace(/\s+/, ' ')
                .replace(/\$API_URL/g, process.env.API_URL)
                .replace(/\$PUSHER_URL/g, process.env.PUSHER_URL)
                .replace(/\$NONCE/g, process.env.GIT_HASH)
                .trim()
         }">

        <style nonce="${process.env.GIT_HASH}">
            body
            {
                background: #757575;
            }

            #page-loading-spinner-container
            {
                margin-top: 40px;
                text-align: center;
            }

            @keyframes rotate-spinner
            {
                to
                {
                    transform: rotate(360deg);
                }
            }

            #page-loading-spinner
            {
                width: 80px;
                height: 80px;
                display: inline-block;
                animation: 1s rotate-spinner infinite linear;
            }

            #page-loading-spinner svg
            {
                width: 80px;
                height: 80px;
                position: relative;
            }

            #page-loading-spinner circle
            {
                stroke: rgb(144, 164, 174);
                stroke-linecap: round;
                stroke-dasharray: 160.535, 229.336;
                stroke-dashoffset: -68.8009;
            }
        </style>

        <link rel="preconnect" href="${process.env.API_URL}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    </head>
    <body>
        <div id="root"></div>

        <div id="page-loading-spinner-container">
            <div id="page-loading-spinner">
                <svg viewBox="0 0 80 80">
                    <circle cx="40" cy="40" r="36.5" fill="none" stroke-width="7" stroke-miterlimit="20"></circle>
                </svg>
            </div>
        </div>

        <script async src="/<%=htmlWebpackPlugin.files.chunks.app.entry%>"></script>

        <script nonce="${process.env.GIT_HASH}">
            (function() {
                'use strict';
                var fontCssUrl = '//fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic';

                window.pageStaticBundles = ${JSON.stringify(htmlWebpackPlugin.files.chunks)};

                loadFonts();
                registerServiceWorker();

                window.stopPageLoadingRotation = function() {
                    var spinnerContainer = document.getElementById('page-loading-spinner-container');
                    spinnerContainer.parentNode.removeChild(spinnerContainer);
                };

                function loadFonts() {
                    var loader = new XMLHttpRequest();
                    loader.open('GET', fontCssUrl);
                    loader.onreadystatechange = function() {
                        if (loader.readyState !== 4) {
                            return;
                        }

                        if (loader.status !== 200) {
                            return;
                        }

                        var cssText = loader.responseText;
                        cssText = cssText.replace(/}/g, 'font-display: swap;\n}');

                        var style = document.createElement('style');
                        style.textContent = cssText;
                        style.setAttribute('nonce', '${process.env.GIT_HASH}');
                        document.body.appendChild(style);
                    };
                    loader.send();
                }

                function registerServiceWorker() {
                    if (navigator.serviceWorker) {
                        navigator.serviceWorker.register(
                            '/<%=htmlWebpackPlugin.files.chunks.sw.entry%>',
                            { scope: '/' }
                        );
                    }
                }
            })();

            (function(d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter46302246 = new Ya.Metrika({
                            id: 46302246,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true,
                            webvisor: true,
                            trackHash: true,
                            ut: "noindex"
                        });
                    } catch (e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function() { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>
            <p>You should enable JavaScript to use this site.</p>

            <div><img src="https://mc.yandex.ru/watch/46302246?ut=noindex" style="position:absolute; left:-9999px;"
                      alt="" /></div>
        </noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>
