click==6.7
dateutils==0.6.6
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pycurl==7.43.0
pymongo==3.5.1
pyresttest==1.7.1
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
six==1.10.0
Werkzeug==0.12.2
